{% load static %}
<div class="card w-100" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="border mb-2" style="height: 100px;">
                    <img src="{% static 'img/spacemarines_soup.jpg' %}" alt="Avatar" class="img-thumbnail img-fluid">
                </div>
                <input type="number" class="form-control" value="5" placeholder="Default input" aria-label="default input example">

            </div>
            <div class="col-9">

                <h5 class="card-title"> <a href="/question.html"> {{question.title}} </a></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <p class="card-text"> {{question.text}} </p>

                <div class="d-flex gap-5">
                    <a href="#" class="card-link">Answer (3)</a>
                <div>
                    Tags:
                    
                    <a href="#" class="card-link">Another link</a>
                    <a href="#" class="card-link">Another link</a>
                    <a href="#" class="card-link">Another link</a>
                    <a href="#" class="card-link">Another link</a>
                    <a href="#" class="card-link">Another link</a>

                </div>
                    
                </div>
            </div>
        </div>

    
    </div>
</div>