{% extends "layouts/base.html" %}

{% load static %}

{% block content %}

            

            <div class="col-9">
                <div class="d-flex gap-3 align-items-center">
                    <h1>New Questions</h1>
                    <a href="{% url 'hot' %}">Hot Questions</a>
                    <a href="{% url 'ask' %}">New ask</a>
                </div>

                <div class="d-flex flex-column gap-3">
                    {% for question in questions%}

                        {% include 'components/question.html' %}

                    {% endfor %}

                
                    {% include 'components/pagination.html' %}
                </div>
            </div>
            
{% endblock  %}