{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
            <div class="col-9">
                <div class="d-flex flex-column gap-3">
                    <div class="w-100" style="width: 18rem;">
                        <div class="">
                            <div class="row">
                                <div class="col-3">
                                    <div class="border mb-2" style="height: 100px;">
                                        <img src="{% static 'img/spacemarines_soup.jpg' %}" alt="Avatar" class="img-thumbnail img-fluid">
                                    </div>
                                    <input type="number" class="form-control" placeholder="{{ question.likes.count }}" aria-label="default input example">

                                </div>
                                <div class="col-9">

                                    <h1 class="card-title">{{ question.user.user.username }}</h1>
                                    <p class="card-text">{{ question.text }}</p>
        
                                    <div>Tags:
                                        {% for tag in question.tags.all %}
                                            {% include 'layouts/tag-element.html' %}
                                        {% endfor %}
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% for answer in answers %}
                        {% include 'layouts/answer.html' %}
                    {% endfor %}

                    <hr>

                    <textarea class="form-control my-3" rows="5" placeholder="Enter your answer here"></textarea>
                    <button class="btn btn-primary">Answer</button>

                    
                    

                </div>
                {% include 'layouts/pagination.html' %}
            </div>

{% endblock  %}
            
           